<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Pool.My.MySettings.LocalDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LocalResults.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Pool.My.MySettings>
            <setting name="emailCreds" serializeAs="String">
                <value>projtestcred@gmail.com</value>
            </setting>
            <setting name="passEmailCreds" serializeAs="String">
                <value>aolknqyzcrhcemec</value>
            </setting>
            <setting name="emailServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="emailPort" serializeAs="String">
                <value>587</value>
            </setting>
        </Pool.My.MySettings>
    </applicationSettings>
</configuration>